<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
  <channel>
<atom10:link xmlns:atom10="http://www.w3.org/2005/Atom" rel="self" type="application/rss+xml" href="https://www.pipes.digital/feed/nqxM7898" />
    <title>Untitled RSS Feed &amp; Untitled RSS Feed &amp; Feed not found</title>
    <link>https://www.pipes.digital/feed/nqxM7898</link>
    <description>Untitled RSS Feed &amp; Untitled RSS Feed &amp; The feed block could find no feed under the given url</description>
    <item>
      <title>Р›РµРЅР° Р›Р°РїРёРЅР°: Р±СѓР»Р»РёРЅРі</title>
      <link>https://www.youtube.com/watch?v=NbEOWieCqGI</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/NbEOWieCqGI&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Sun, 26 Jun 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">cade3164006474e41c125eb046dc7f9e</guid>
      <dc:date>2022-06-26T00:00:00Z</dc:date>
    </item>
    <item>
      <title>Р–РµРЅСЏ Р¦РѕСЂРёРµРІР°: Р±СѓР»Р»РёРЅРі</title>
      <link>https://www.youtube.com/watch?v=cpf0tDS-JZw</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/cpf0tDS-JZw&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Sun, 26 Jun 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">16bad831f97f8c7c13a42fc3facac2ae</guid>
      <dc:date>2022-06-26T00:00:00Z</dc:date>
    </item>
    <item>
      <title>Р’РёРєС‚РѕСЂ РЁС‚РµР№РјР°РЅ: Р±СѓР»Р»РёРЅРі</title>
      <link>https://www.youtube.com/watch?v=9VohyI-SlPw</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/9VohyI-SlPw&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Sun, 26 Jun 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">cf2f3476619febaff370779df3360794</guid>
      <dc:date>2022-06-26T00:00:00Z</dc:date>
    </item>
    <item>
      <title>РђР»СЏ РњР°Р№РґР°РЅ: Р±СѓР»Р»РёРЅРі</title>
      <link>https://www.youtube.com/watch?v=PoFYwvNYT-s</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/PoFYwvNYT-s&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Sun, 26 Jun 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">4b35c9c0b70eb20d13f7cba4448f6163</guid>
      <dc:date>2022-06-26T00:00:00Z</dc:date>
    </item>
    <item>
      <title>РўР°СЃСЏ РљРёСЃРµР»РµРІР°: Р±СѓР»Р»РёРЅРі</title>
      <link>https://www.youtube.com/watch?v=-VK2oTVE_Vo</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/-VK2oTVE_Vo&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Sun, 26 Jun 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">ee43c84082b5ec54360da57ad3ca2c7e</guid>
      <dc:date>2022-06-26T00:00:00Z</dc:date>
    </item>
    <item>
      <title>Р’Р°СЃСЏ РњРѕСЃРєР°Р»РµРЅРєРѕ: Р±СѓР»Р»РёРЅРі</title>
      <link>https://www.youtube.com/watch?v=ETqE9xrbzTY</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/ETqE9xrbzTY&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Sun, 26 Jun 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">a60621aad23aeadaa444b91b014c0baa</guid>
      <dc:date>2022-06-26T00:00:00Z</dc:date>
    </item>
    <item>
      <title>РњР°РєСЃРёРј РЎРѕРЅРёРЅ Рё РІСЃРµ РєРЅРёРіРё Р”Р°СЂСЊРё Р”РѕРЅС†РѕРІРѕР№</title>
      <link>https://www.youtube.com/watch?v=5Jqsc7_LpUE</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/5Jqsc7_LpUE&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Sun, 26 Jun 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">cc2b4feae22aedaed6adc4b40f8f7381</guid>
      <dc:date>2022-06-26T00:00:00Z</dc:date>
    </item>
    <item>
      <title>Р­РЅС‚РѕРЅРё Р®Р»Р°Р№ | РЎС‚РµРЅРґР°Рї РїРѕ РєРЅРёРіРµ РЎС‚РµС„Р°РЅРё РњР°Р№РµСЂ В«РЎСѓРјРµСЂРєРёВ»</title>
      <link>https://www.youtube.com/watch?v=OP5VcYD_CDM</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/OP5VcYD_CDM&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Thu, 07 Jul 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">900c0e6d4c4d88885d7218ceb470a18e</guid>
      <dc:date>2022-07-07T00:00:00Z</dc:date>
    </item>
    <item>
      <title>Р’Р°СЃСЏ РњРѕСЃРєР°Р»РµРЅРєРѕ | РЎС‚РµРЅРґР°Рї РїРѕ РєРЅРёРіРµ Р¤РёР» РЎС‚СЌРјРїРµСЂ В«РЎРёР»Р° РЅР°С€РµРіРѕ РїСЂРёС‚СЏР¶РµРЅРёСЏВ»</title>
      <link>https://www.youtube.com/watch?v=7_7pC78sJTA</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/7_7pC78sJTA&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Mon, 11 Jul 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">9df1c80f78c709c5ae5dd98b8f6cfedf</guid>
      <dc:date>2022-07-11T00:00:00Z</dc:date>
    </item>
    <item>
      <title>Р”Р°СЂСЊСЏ Р’Р°СЂРґРµРЅР±СѓСЂРі В«РњР°СЂС‚Р° СЃ Р§РµСЂРµРїР°РјРёВ»</title>
      <link>https://www.youtube.com/watch?v=4vdBzn8Xjz8</link>
      <description>&lt;div&gt;&lt;div&gt;&lt;div style=&quot;left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;&quot;&gt;&lt;iframe src=&quot;https://www.youtube.com/embed/4vdBzn8Xjz8&quot; style=&quot;border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;&quot; allowfullscreen scrolling=&quot;no&quot; allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</description>
      <author>YouTube</author>
      <pubDate>Mon, 18 Jul 2022 00:00:00 -0000</pubDate>
      <guid isPermaLink="false">291bcc30011ba79ba95a861755d0c2e6</guid>
      <dc:date>2022-07-18T00:00:00Z</dc:date>
    </item>
  </channel>
</rss>
